{% extends "principal.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/SOS-RS.jpg' %}" height="225" width="100%" >
            <div class="card-body">
              <p class="card-text">Imagem de um Desastre ambiental com Voluntarios ajudando</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="{% static 'img/OIP.jpg' %}" height="225" width="100%" >
            <div class="card-body">
              <p class="card-text">Imagem de um Desastre ambiental com Voluntarios ajudando</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/voluntario.jpg' %}" height="225" width="100%" >
            <div class="card-body">
              <p class="card-text">Imagem de um Desastre ambiental com Voluntarios ajudando</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}