<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="pt-br" data-bs-theme="light">
  {% block head %}
    {% include "head.html" %}
  {% endblock %}
    <body class = "">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  		<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
				<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				  <ul class="navbar-nav">
						<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Chamados
					  </a>
					  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="{%  url 'chamado' %}">Visualizar Chamado</a></li>
						<li><a class="dropdown-item" href="{%  url 'chamado_adicionar' %}">Cadastrar Chamado</a></li>
					  </ul>

					</li>
						<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Vitimas
					  </a>
					  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="{% url 'vitimas' %}">Visualizar Vitima</a></li>
						<li><a class="dropdown-item" href="{% url 'vitima_adicionar' %}">Cadastrar Vitima </a></li>
					  </ul>

					</li>
						 <li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Funcionarios
					  </a>
					  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="{% url 'funcionarios' %}">Visualizar Funcionario</a></li>
						<li><a class="dropdown-item" href="{% url 'funcionario_adicionar' %}">Cadastrar Funcionario</a></li>
					  </ul>

					</li>
						<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Estoque
					  </a>
					  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="{% url 'listas' %}">Visualizar Lista de Itens</a></li>
                          <li><a class="dropdown-item" href="{% url 'produtos' %}">Visualizar Estoque Completo</a></li>
					  </ul>

					</li>
                        <li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Cadastros
					  </a>
					  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="{% url 'remedio_adicionar' %}">Cadastrar Remedio</a></li>
                        <li><a class="dropdown-item" href="{% url 'mantimento_adicionar' %}">Cadastrar Mantimento</a></li>
                        <li><a class="dropdown-item" href="{% url 'roupa_adicionar' %}">Cadastrar Roupa</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_adicionar' %}">Cadastrar Lista de Produto</a></li>
					  </ul>

					</li>
				  </ul>
				</div>
	  </div>
</nav>

        {% block content %} {% endblock %}

        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>