<h3>Olá!</h3>
<p>Estamos enviando este e-mail para comunicar que o chamado que você solicitou foi concluido.</p>

<h3>Dados do Chamado</h3>
<p><strong>Funcionário responsavel pelo agendamento:</strong> {{funcionario}}</p>
<p><strong>Vitima auxiliada:</strong> {{vitima}}</p>

<h3>Descricao: </h3>
<p>{{ descricao }}</p>

<h3>Produtos: </h3>
<p><strong>Item: </strong>{{produto}}</p>
<p><strong>Quantidade: </strong>{{quantidade}}</p>

<p><strong>Atenciosamente</strong></p>

<p style="color:#001e8b"><strong>Ajudantos</strong></p>