{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<section class="section" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <form action="" method="GET">
                <div class="form-group row p-3">
                    <label class="col-sm-2 col-form-label">Nome da produto: </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                               placeholder="Digite o nome do produto">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center">Produtos Cadastrados</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table table-dark">
                                <th>Nome</th>
                                <th>Descricao</th>
                                 <th>Tipo</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                                {% for produtos in object_list %}
                                    <tr>
                                        <td> <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{produtos.id}}">
                                            {{produtos.nome }}</a>
                                        </td>
                                        <td> {{ produtos.descricao }}</td>
                                        <td> {{ produtos.tipo_de_produto }}</td>
                                        <td style="text-align: center">
                                             <a href="{% url 'remedio_editar' produtos.pk %}">
                                                    <span class="icon">
                                                        <i class="bi bi-clipboard2"></i>
                                                    </span>
                                                </a>
                                             {% if produtos.tipo_de_produto == 'REMEDIO'  %}
                                                <a href="{% url 'remedio_editar' produtos.pk %}">
                                                    <span class="icon">
                                                        <i class="bi bi-clipboard2"></i>
                                                    </span>
                                                </a>
                                                <a href="{% url 'remedio_apagar' produtos.pk %}">
                                                    <span class="icon">
                                                        <i class="bi bi-trash3"></i>
                                                    </span>
                                                </a>
                                             {% elif produtos.tipo_de_produto == 'ROUPA'  %}
                                                <a href="{% url 'roupa_editar' produtos.pk %}">
                                                    <span class="icon">
                                                        <i class="bi bi-clipboard2"></i>
                                                    </span>
                                                </a>
                                                <a href="{% url 'roupa_apagar' produtos.pk %}">
                                                    <span class="icon">
                                                        <i class="bi bi-trash3"></i>
                                                    </span>
                                                </a>
                                             {% elif produtos.tipo_de_produto == 'MANTIMENTO'  %}
                                                <a href="{% url 'mantimento_editar' produtos.pk %}">
                                                    <span class="icon">
                                                        <i class="bi bi-clipboard2"></i>
                                                    </span>
                                                </a>
                                                <a href="{% url 'mantimento_apagar' produtos.pk %}">
                                                    <span class="icon">
                                                        <i class="bi bi-trash3"></i>
                                                    </span>
                                                </a>

                                            {% endif %}



                                        </td>
                                        <div class="modal" tabindex="-1" id="modal{{produtos.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">produtos: {{produtos.nome}}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body d flex justify-content-center">
                                                         <div>

                                                            <h6><strong>Descricao : </strong>{{produtos.descricao}}</h6>

                                                            {% if produtos.roupa  %}
                                                                <h6><strong>Tamanho: </strong>{{ produtos.roupa.tamanho }}</h6>
                                                                <h6><strong>Gênero: </strong>{{ produtos.roupa.genero }}</h6>


                                                             {% elif produtos.mantimento %}
                                                                <h6><strong>Validade: </strong>{{ produtos.mantimento.validade }}</h6>
                                                                <h6><strong>Categoria: </strong>{{ produtos.mantimento.categoria }}</h6>

                                                             {% else %}
                                                                <h6><strong>Validade: </strong>{{ produtos.remedio.validade }}</h6>
                                                            {% endif %}
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secundary" data-bs-dismiss="modal">
                                                            fechar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% bootstrap_pagination object_list url="/produtos?page=1" size="sm" %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}